# Node.js dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Build output
dist
build
coverage

# Environment files
.env
.env.* # Si usas múltiples entornos como .env.production

# Sistema de control de versiones
.git
.gitignore
.gitattributes

# Archivos de configuración del sistema operativo o IDE
.DS_Store
.idea
.vscode
*.swp
*.swo
*.swn

# Archivos de testing
test-results
*.spec.ts

# Docker-related
docker-compose.yml
Dockerfile.dev
docker-compose.dev.yml
